
/* Our Teammates Styling */
.teammates .teammates-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.teammates .teammates-content .link{
    text-decoration: none;
    color: #000000;
    display: flex;
}

.teammates .teammates-content .person-content{
    margin-top: 10px;
    margin-right: 10px;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.teammates .person-content .person-image{
    border: 5px solid #557996;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.teammates .person-content .person-image .pimage{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.teammates .person-content .person-info{
    width: 220px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.teammates .person-content .person-info .pname{
    font-size: 21px;
}

.teammates .person-content .person-info .pi1,
.teammates .person-content .person-info .pi2{
    font-size: 15px;
}

.teammates .person-content .link{
    display: flex;
    margin-left: 15px;
}

.teammates .person-content .link .btn-id{
    width: 25px;
    height: max-content;
    color: #557996;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    background: none;
    border: none;
}
/* Our Teammates Styling */